body {
    position: relative;
    overflow-x: hidden;
}

.container-fullwidth-secondary {
    background-color: $secondary_color;
    font-family: $font;
}

.container-fullwidth-primary {
    background-color: $primary_color;
    font-family: $font;
}


h1 {
    font-size: 58px;
    line-height: 60px;
}

h2 {
    text-align: center;
}
