.scheda-1 {
    @include default-format;
    padding: $padding-scheda;

    & * {
        margin-bottom: 25px;
    }

    &-sx {
        float: left;
        width: 50%;
        display: flex;
        flex-direction: column;



        &-btn  {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & * {
                margin: 15px 30px 0 0;

            }

            & button {
                @include default-button;
                color: $secondary_color;
                background-color: $hover-color;
            }
        }

        & .small-mail {
            margin-top: -15px;
        }
    }

    &-dx {
        float: left;
        width: 50%;

        & img {
            width: 100%;
        }
    }

    &-sx:after, &-dx:after {
        @include clearfix;
    }
}

.scheda-1::after {
    @include clearfix;
}

.scheda-2 {
    @include default-format;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $padding-scheda;
    background-color: $primary_color;

    &-img {
        margin: 50px 0;
        max-width: 280px;
        height: auto;
        text-align: center;
    }

    &-container-card {
        @include scheda-2-container;
    }

    &-card {
        @include scheda-2-card;

        &-img {
            height: 105px;
            margin-bottom: 30px;

            & img {
                   @include scheda-2-card-img;
            }
        }



    }

}
